# Fichiers de données
*.csv
*.xlsx
*.xls
*.json
*.parquet
*.h5
*.hdf5
*.pkl
*.pickle
*.npy
*.npz

# Dossiers de données
data/
datasets/
raw_data/
processed_data/

# Fichiers Python à ignorer
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Environnements virtuels
venv/
ENV/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Système
.DS_Store
Thumbs.db

XGBoost/confusion_matrix.png
XGBoost/feature_importance.png
XGBoost/xgboost_model.joblib 